.App {
  display: flex;
  flex-direction: column;
}

.Link {
  display: flex;
  justify-content: space-evenly;
  background-color: #B9B7BD;
  margin: 1em;
  padding: 2em;
}

a {
  color: black;
  font-size: x-large;
}

.page {
  padding-left: 3em;
  display: flex;
  flex-direction: column;
}

.details {
  display: flex;
  flex-direction: column;
}

.details-box {
  display: flex;
  border: solid 2px #E7D2CC;
  padding: 10px;
  width: fit-content;
}

.header {
  font-size: x-large;
}

.field-set {
  display: flex;
  flex-direction: row;
  font-size: x-large;
}

.field-name {
  padding-right: 5px;
  font-weight: 600;
}

input[type=button] {
  background-color: #E7D2CC;
  width: 50%;
  border: solid black 1px;
  cursor: pointer;
}

/*
Scallop Seashell
#E7D2CC

Pewter
#B9B7BD

Gray
#868B8E

Ivory
#EEEDE7
*/