.App {
  display: flex;
  flex-direction: column;
}

.Link {
  display: flex;
  justify-content: space-evenly;
  background-color: #B9B7BD;
  margin: 1em;
  padding: 2em;
}

a {
  color: #868B8E;
  font-size: x-large;
}

.page {
  padding-left: 3em;
  display: flex;
  flex-direction: column;
}

.detail {
  display: flex;
  flex-direction: column;
}

.header {
  font-size: x-large;
}

.field-set {
  display: flex;
  flex-direction: row;
  font-size: x-large;
}

.field-name {
  padding-right: 5px;
  font-weight: 600;
}

/*
Scallop Seashell
#E7D2CC

Pewter
#B9B7BD

Gray
#868B8E

Ivory
#EEEDE7
*/